/*custom css*/
body{
	background: url('http://wallpapercave.com/wp/nqpdZus.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;

}

header h1{
	text-align: center;
	color: white;
	
}
ul{
	height:50vh;

}
ul li{
	width:100%;
	float:left;
}
img{
	height:100px;
	width:100px;
}
footer{
	height:10vh;
}
/*fonts*/

/*@font-face{
	font-family: "STARWARS";
	src : url('fonts/STARWARS.TTF');*/

}
/*bootstrap class overrides*/
.container{
	overflow:auto;
}
.list-group-item{
	/*height:1.8em;*/
	flex-wrap:wrap;
	opacity:0.65;
	background-color:#7E3E35;
	color:white;
}
.list-group-item p{
	font-weight:bolder;
}
.list-group-item:last-child{
	margin-bottom:10px;
}
.form-control{
	padding-bottom:10px;
	background-color: #7E3E35;
	color:white;
	opacity:0.85;
}
/*custom id's*/
#name{
	padding-top:10px;
}
